<html lang="es">
  <head>

  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>Acerca de mi</h1>
        <p>Soy Camilo J Arenas, tengo 32 años, casado con una maravillosa mujer y tengo una hermosa hija. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Mi Familia &raquo;</a></p>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <h2>Angela María</h2>
          <p>Especimen de origen zipaquireño, con 30 años de edad y divinamente casada conmigo.  </p>
          <p><a class="btn btn-default" href="#" role="button">Detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>María José</h2>
          <p>Hermosa bebé de 1 año de edad, ya dice papá, mamá y muchas cosas más. Tiene toda la vida por delante y mucho por aprender. </p>
          <p><a class="btn btn-default" href="#" role="button">Detalles &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Camilo José</h2>
          <p>Ese soy yo, el papá..</p>
          <p><a class="btn btn-default" href="#" role="button">Detalles &raquo;</a></p>
        </div>

      </div>

  </body>
</html>