    <div class="jumbotron">
      <div class="container">
        <h1>Hola todos!</h1>
        <p>Bienvenidos a mi nueva App!! </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Ingresar</a></p>
      </div>
    </div>

